!!!
%html
  %head
    %title Erin Neubauer Photography
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "vendor"
    = stylesheet_link_tag "galleria.classic.css" #has to be included manually otherwise galleria can't find it

    = javascript_include_tag "application"

  %body
    #container
      = yield
      #container_footer
    #footer
      = render :partial => "shared/footer"
