!!!
%html
  %head
    %meta{:name => "language", :content => "en"}
    %meta{:name=>"keywords", :content=>"photographer, Columbus Ohio, Pickerington, weddings, family portraits, high school seniors, on location, Erin Neubauer, portraits, portraiture, Columbus Ohio Wedding Photographer"}
    %meta{:name=>"keyword phrase", :content=>"Erin Neubauer Photography : Central Ohio, Columbus, Ohio, Wedding Photographers, Family Photographers, Senior Portrait Photography, wedding coverage, wedding photography, bridal photography, family portraits, child portraits, Photography, columbus ohio"}
    %meta{:name=>"description", :content=> "Affordable, creative photography services for portraits, events, weddings. Contact Erin Neubauer xxx.xxx.xxxx."}
    %meta{:name=>"author", :content=>"Protected Method LLC, Columbus, OH: www.protectedmethod.com"}

    %title Erin Neubauer Photography
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "vendor"
    = stylesheet_link_tag "galleria.classic.css" #has to be included manually otherwise galleria can't find it

    = javascript_include_tag "application"

  %body
    #container
      = yield
